body{
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	color: #222222;
}
.clearfix:after{
    content:'';
    display: table;
    width: 100%;
    clear: both;
}
div{
	box-sizing: border-box;
}
header{
	background: url(../img/first-bg.jpg) no-repeat center top / cover;
	padding-bottom: 160px;
}
.container{
	width: 930px;
	margin: 0 auto;
}
.logo{
    margin-top: 41px;
    float: left;
}
nav{
	float: right;
	margin-top: 50px;
}
.menu{
	padding: 0;
	margin: 0;
	display: block;
}
.menu li{
	float: left;
	display: block;
	margin-right: 41px;
}
.menu li a{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
}
.titles_first{
	font-size: 40px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin-top: 180px;
}
h1{
	font-size: 75px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin: 15px;
}
.button{
	background: #fed136;
	color:#484543;
	border-radius: 3px;
	display: block;
	width: 240px;
	padding: 20px 0;
	margin:0 auto;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	margin-top: 50px;
}
.title{
    padding-top: 115px;
}
.title h2{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

.title p{
     text-align: center;
     color: #777777;
     font-size: 16px;
     margin-top: 5px;
}
.services{
     margin-top: 50px;
}
.services_item{
     width: 270px;
     float: left;
     text-align: center;

}
.services_item h3{
     font-size: 18px;
     margin-bottom: 5px;
}
.services_item p{
      color: #777777;
      font-size: 14px;
      line-height: 1.55em;
}
.services_item:last-child{
	float: right;
}
.services_item:nth-child(2){
	margin-left: 60px;
}
#services{
	padding-bottom: 120px;
}
#portfolio{
	background: #f7f7f7;
	padding-bottom: 120px;
}
.works{
	margin-top: 70px;
}
.works img{
	float:left;
	border: 2px solid red;
}
.works img:nth-child(2){
	margin-left: 29px;
}
.works img:last-child{
	float: right;
}
#about{
	margin-bottom: 110px;
}
.item_1{
	float: left;
	width: 270px;
    margin-top: 75px;
}
.item_1 h3{
   text-align: right;
   font-size: 18px;
   font-family: "Arial - Bold MT";
   color: #222222;
   text-transform: uppercase;
   margin: 2px;
}
.item_1 p{
	color: #777777;
	font-family: "Arial MT";
	font-size: 14px;
	text-align: right;
}
.item_1:last-child{
	margin-left: 45px;
	text-align: center;
}
.item_2{
	float: right;
	width: 270px;
    margin-top: 75px;
}

.item_2 h3{
   text-align: left;
   font-size: 18px;
   font-family: "Arial - Bold MT";
   color: #222222;
   text-transform: uppercase;
   margin: 2px;
}
.item_2 p{
	color: #777777;
	font-family: "Arial MT";
	font-size: 14px;
	text-align: left;
}
.item_2:last-child{
	margin-right: 75px;
	text-align: center;
}
.footer_1 p{
    font-family: "Arial MT";
    color: #555555;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.35px;
    text-align: center;
    padding-bottom: 60px;
}
